force-app/main/default/flows/RFQ_Update_RFQ_status_Age.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_RFQ_Stage_Decision</name>
        <label>Check RFQ Stage Decision</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFQ_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFQ Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RFQ_Send_Status_Chabge_Date</targetReference>
            </connector>
            <label>RFQ Send</label>
        </rules>
        <rules>
            <name>Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Query_Status_Change_Date</targetReference>
            </connector>
            <label>Query</label>
        </rules>
        <rules>
            <name>Quote_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Received_Status_Change_Date</targetReference>
            </connector>
            <label>Quote Received</label>
        </rules>
        <rules>
            <name>Quote_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Accepcted</targetReference>
            </connector>
            <label>Quote Accepted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>RFQ - Update RFQ status date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFQ - Update RFQ status Age</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Query_Status_Change_Date</name>
        <label>Update Query Status Change Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Query_Stage_Change_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Accepcted</name>
        <label>Update Quote Accepcted</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Quote_Accepted_Stage_Change_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Received_Status_Change_Date</name>
        <label>Update Quote Received Status Change Date</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Quote_Received_Stage_Change_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RFQ_Send_Status_Chabge_Date</name>
        <label>Update RFQ Send Status Chabge Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>RFQ_Sent_Stage_Change_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RFQ_Stage_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RFQ_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RFQ_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RFQ__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
